snippet frame "frame in beamer"
\\begin{frame} \\frametitle{$1}
	$0
\\end{frame}
endsnippet

snippet xor "xor"
\\oplus 
endsnippet

snippet question
%----------------------------------------------------------------------------
%   QUESTION $1"
%----------------------------------------------------------------------------
\\begin{question}
	\\begin{answer}
	\\end{answer}
\\end{question}
endsnippet

